.tag {
    border-radius: 20px;
    padding: 8px 12px;
    font-family: var(--font-family-main), sans-serif;
    font-size: var(--font-size-xs);
    line-height: var(--font-line-xs);
    letter-spacing: var(--letter-spacing-main);
    background-color: var(--tag-color-plus);
    width: fit-content;
    max-width: 100%;
}

.business {
    background-color: var(--tag-color-business);
}

.art {
    background-color: var(--tag-color-art);
}

.languages {
    background-color: var(--tag-color-languages);
}

.education {
    background-color: var(--tag-color-education);
}

.home {
    background-color: var(--tag-color-home);
}

.health {
    background-color: var(--tag-color-health);
}